<div class="row">
  <div class="col-12">
    <div class="card border-0 c-shadow">
      <div class="card-body pb-0 pt-1">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">S.no</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">City</th>
                <th scope="col">designation</th>
                <th scope="col">Approve</th>
                <th scope="col">Edit</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        </div>
      </div>
    </div>
