﻿
@{
    ViewBag.Title = "Index";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AspNetDemo</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root></app-root>
    <script src="~/Scripts/client/polyfills-es5.js" nomodule defer></script>
    <script src="~/Scripts/client/polyfills-es2015.js" type="module"></script>
    <script src="~/Scripts/client/styles-es2015.js" type="module"></script>
    <script src="~/Scripts/client/styles-es5.js" nomodule defer></script>
    <script src="~/Scripts/client/runtime-es2015.js" type="module"></script>
    <script src="~/Scripts/client/vendor-es2015.js" type="module"></script>
    <script src="~/Scripts/client/main-es2015.js" type="module"></script>
    <script src="~/Scripts/client/runtime-es5.js" nomodule defer></script>
    <script src="~/Scripts/client/vendor-es5.js" nomodule defer></script>
    <script src="~/Scripts/client/main-es5.js" nomodule defer></script>
</body>
</html>




